/*Id Selector*/
#heading
{
    text-align: center;

    color: #a0294c;
}
/*Class Selector*/
.thumbNail
{
    width: 100px;
    height: 100px;

    border: 2px solid #fd8e2f;
}
.leftLogo
{
    float: left;
}
.rightLogo
{
    float: right;
}
/*Name Selector*/
nav
{
    height: 20px;

    background-color: #a0a97f;
}
table
{
    border-collapse: collapse;

    border: 1px solid #36f;
    margin: auto;
}
td,
tr
{
    border: 1px solid #06f;
}
/*Attribute Selector*/
a[href$='html']
{
    font-size: 1.2em;

    opacity: .8;
}
a[href$='jsp']
{
    font-size: 1.3em;

    opacity: .5;
}
/*Descendent Selector*/
nav a
{
    padding: 0 10px 0 10px;
}

/*Sibling Selector*/
#arj ~ p
{
    font-family: 'serif';
    font-weight: bolder;

    color: #006;
    border: 2px solid green;
}
/*Adjacent Selctor*/
#sibling + div
{
    font-family: 'Arial';

    color: #fd8e2f;
    border: 2px solid black;
}

/*Child Selector*/
ul > li
{
    display: inline;
}
#adj + p
{
    font-family: 'Arial';

    color: #090;
    border: 2px dashed red;
}

a.clearTextDecor{
	text-decoration: none;
}
/*CSS Selectors*/

/*Pseudo Class*/
.thumbNail:hover{
	width: 120px;
	border-radius: 5px;
}

input[type='search']:focus{
  width: 15%;
  border: 2px solid #f06;
  font-size: 1.3em;
}
/*Pseudo Element*/
p::first-letter{
	font-size: 1.4em;
}
/*css3 Selectors*/
tr:nth-child(2n+1){
	background-color: magenta;
}
td:last-child{
	font-weight: bold;
}
a.clearTextDecor:visited{
	color: #f60;
}